<h1>ログイン</h1>

<% if flash[:alert].present? %>
  <div style="color: red;">
    <ul>
      <% flash[:alert].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(:session, url: sessions_create_path) do |f| %>
  <div>
    <%= f.label :user_name, "ユーザーID"%>
    <%= f.text_field :user_name %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>
 
  <div>
    <%= f.submit "ログインする" %>
  </div>
<% end %>