<%= render 'shared/logout_button' %>
<h1>写真アップロード</h1>
  <div style="color: red;">
    <ul>
      <% @posted_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<%= form_for(@posted_photo) do |f| %>
  <div>
    <%= f.label :title, "タイトル"%>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :image, "画像ファイル"%>
    <%= f.file_field :image %>
  </div>

  <%= f.submit 'アップロード' %>
  <%= link_to "キャンセル", posted_photos_path %>
<% end %>
